body{
	background: LightGray;
}
div{
	border: 1px solid Chocolate;
}

.top-navigation{
	background: #fff;
}
.top-navigation>.content{
	width: 970px;
	height: 70px;
	margin: 0 auto;
}
.logo{
	margin-left: 14px;
	height: 70px;
}